{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css" media="screen">
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://bootswatch.com/_assets/js/custom.js"></script>
        <link href="{% static "blog/main.css" %}" rel="stylesheet">

        {% if title %}
            <title>{{ object.cim }}</title>
        {% else %}
            <title>Hardverszövetség</title>
        {% endif %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a href="{% url 'blog-home' %}">
                    <img src="{% static "blog/logo.png" %}" style="width: 100px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog-home' %}">Főoldal
                            </a>
                        </li>
                        {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'post-create' %}">Új poszt</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Kijelentkezés</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Bejelentkezés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Regisztráció</a>
                        {% endif %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="GET">
                      {{ filter.form|crispy }}
                      <button class="btn btn-primary my-2 my-sm-0" type="submit">Keresés</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="album py-5">
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock content %}
            </div>
        </div>
    </body>
</html>
