{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-md-8">

    <h1 class="my-4">{{ category.name }}</h1>

    {% for post in filter.qs %}
    <div class="card mb-4">
        <img class="card-img-top" src="{{ post.kep.url }}">
        <div class="card-body">
            <h2 class="card-title">{{ post.cim }}</h2>
            <p class="card-text"><b>{{ post.intro }}</b></p>
            <a href="{% url "post-detail" post.id %}" class="btn btn-primary">Olvasd tovább! &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            <p class="card-text">Módosítás dátuma: {{ post.kelt|date:"Y m. d. || H:i" }}</p>
            <p class="card-text">&#x1f441 {{ post.megtekintes }} megtekintés</p>
            <a href="{% url 'user-posts' post.szerzo.username %}">{{ post.szerzo }}</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="col-md-4">

    <div class="card my-4">
        <h5 class="card-header">Keresés</h5>
        <div class="card-body">
            <div class="input-group">
                <form method="GET">
                    {{ filter.form|crispy }}
                    <button class="btn btn-primary" type="submit">Keresés</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}