{% extends "blog/base.html" %}
{% block content %}
<div class="col-lg-8">
    <h1 class="mt-4">{{ object.cim }}</h1>      
    <a href="#">{{ object.szerzo }}</a>
    <hr>
    <p>Kelt: {{ object.kelt|date:"Y m. d. || H:i" }}</p>
    <hr>
    <img class="img-fluid rounded" src="{{ object.kep.url }}">
    <hr>
    <p class="lead"><b>{{ object.intro }}</b></p>
    <p>{{ object.tartalom }}</p>
    {% if object.szerzo == user %}
        <a class="btn btn-primary" href="{% url 'post-update' object.id %}">Frissítés</a>
        <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Törlés</a>
    {% endif %}
</div>

<div class="col-md-4">

    <div class="card my-4">
        <h5 class="card-header">Még nem működik</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Keresés</button>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
