{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="post">
                    {{ form.media }}
                    <button class="btn btn-success">Mentés</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
