{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">{{ object.cim }}</h1>
            
            <p class="lead">írta: {{ object.szerzo }}</p>

            <hr>

            <p>Kelt: {{ object.kelt|date:"Y m. d. || H:i" }}</p>

            <hr>

            <img class="img-fluid rounded" src="{{ post.kep.url }}">

            <hr>

            <p class="lead">{{ object.intro }}</p>

            <p>{{ object.tartalom }}</p>

            {% if object.szerzo == user %}
                <a class="btn btn-primary" href="{% url 'post-update' object.id %}">Frissítés</a>
                <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Törlés</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}